@using Movars.Core.Models.ViewModels
@model NewRequestViewModel
@{
}

<form method="post" asp-controller="Request" asp-action="Create">
<section class="container request_form_wrapper">
    <h1 class="heavy__text mb-4">Select Type</h1>
    <div class="row types__wrapper gap-5">

            <input type="radio" value="home" asp-for="@Model.RbType" id="rbHome" />
            <label asp-for="@Model.RbType" for="rbHome" class="type col">
            <div class="banner apart mb-3">
                <div class="overlay-dark d-flex">
                    <div class="checkmark d-flex">
                        <iconify-icon icon="material-symbols:check-small-rounded"></iconify-icon>
                    </div>
                </div>
            </div>
            <p class="title">Apartment Move</p>
            <p class="desc">Move your studio 1Room or 2Rooms apartment</p>
            </label>

            <input type="radio" value="office" asp-for="@Model.RbType" id="rbOffice" />
            <label asp-for="@Model.RbType" for="rbOffice" class="type col">
            <div class="banner office mb-3">
                <div class="overlay-dark d-flex">
                    <div class="checkmark d-flex">
                        <iconify-icon icon="material-symbols:check-small-rounded"></iconify-icon>
                    </div>
                </div>
            </div>
            <p class="title">Office Move</p>
            <p class="desc">An easy way to move your office items</p>
             </label>

            <input type="radio" value="labour" asp-for="@Model.RbType" id="rbLabour" />
            <label asp-for="@Model.RbType" for="rbLabour" class="type col">
            <div class="banner labour mb-3">
                <div class="overlay-dark d-flex">
                    <div class="checkmark d-flex">
                        <iconify-icon icon="material-symbols:check-small-rounded"></iconify-icon>
                    </div>
                </div>
                </div>
                <p class="title">No Truck, Laobour Only</p>
                <p class="desc">No truck, but a ton of muscle</p>
            </label>

            <input type="radio" value="other" asp-for="@Model.RbType" id="rbOther" />
            <label asp-for="@Model.RbType" for="rbOther" class="type col">
                <div class="banner labour mb-3">
                    <div class="overlay-dark d-flex">
                        <div class="checkmark d-flex">
                            <iconify-icon icon="material-symbols:check-small-rounded"></iconify-icon>
                        </div>
                    </div>
                </div>
                <p class="title">Others</p>
                <p class="desc">Move properties not the previous boring options?!</p>
            </label>
    </div>

</section>

<section class="container">
    <h1 class="heavy__text mb-4">Apartment Move</h1>
    <div class="d-flex request__wrapper">
        <div class="request_form_fill mb-5">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" value="room1" class="btn-check" asp-for="@Model.RbRoom" id="btnradio1" autocomplete="off" checked/>
                    <label class="btn btn__secondary" asp-for="@Model.RbRoom" for="btnradio1">1 Room</label>

                    <input type="radio" value="room2" class="btn-check" asp-for="@Model.RbRoom" id="btnradio2" autocomplete="off" />
                    <label class="btn btn__secondary" asp-for="@Model.RbRoom" for="btnradio2" >2 Rooms</label>

                <input type="radio" value="room3" class="btn-check" asp-for="@Model.RbRoom" id="btnradio3" autocomplete="off" />
                        <label class="btn btn__secondary" asp-for="@Model.RbRoom" for="btnradio3">3 Rooms</label>

                <input type="radio" value="room4" class="btn-check" asp-for="@Model.RbRoom" id="btnradio4" autocomplete="off" />
                        <label class="btn btn__secondary" asp-for="@Model.RbRoom" for="btnradio4">Above 3</label>

                    <input type="radio" value="roomS" class="btn-check" asp-for="@Model.RbRoom" id="btnradioS" autocomplete="off" />
                <label class="btn btn__secondary" asp-for="@Model.RbRoom" for="btnradioS"> Studio</label>
            </div>

            <div class="form__wrapper mt-5">
                 <div class="row g-3">
                    <h5 class="group-title">Origin •-----------------------------------› Destination</h5>
                    <div class="col-md-6 form-group">
                            <label asp-for="@Model.PickupState" class="form-label">Pickup State</label>
                            <select asp-for="@Model.PickupState" id="originState" class="form-select">
                            <option selected>Choose...</option>
                            <option>Lagos</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                            <label asp-for="@Model.DropoffState" class="form-label">Dropoff State</label>
                            <select asp-for="@Model.DropoffState" id="destiState" class="form-select">
                            <option selected>Choose...</option>
                            <option>Lagos</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                            <label asp-for="@Model.PickupCity" class="form-label">Pickup City</label>
                        <select asp-for="@Model.PickupCity" id="originCity" class="form-select">
                            <option selected>Choose...</option>
                            <option>Ajah</option>
                            <option>Ikeja</option>
                            <option>Ikoyi</option>
                            <option>Surulere</option>
                            <option>Victoria Island</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="@Model.DropoffCity" class="form-label">Dropoff City</label>
                            <select asp-for="@Model.DropoffCity" id="destiCity" class="form-select">
                            <option selected>Choose...</option>
                            <option>Ajah</option>
                            <option>Ikeja</option>
                            <option>Ikoyi</option>
                            <option>Surulere</option>
                            <option>Victoria Island</option>
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                            <label asp-for="@Model.PickupAddress" class="form-label">Pickup Address</label>
                        <input asp-for="@Model.PickupAddress" class='form-control' id="pickupAddr" placeholder="Street Address" required />
                    </div>
                    <div class="col-md-6 form-group">
                            <label asp-for="@Model.DropoffAddress" class="form-label">Dropoff Address</label>
                            <input asp-for="@Model.DropoffAddress" class='form-control' id="dropAddr" placeholder="Street Address" required />
                    </div>
                    <div class="col-md-12 form-group">
                            <label asp-for="@Model.PickupDate" class="form-label">Date & Time</label>
                            <input asp-for="@Model.PickupDate" class='form-control' id="pickupDate" name='setTodaysDate' required />
                    </div>
                    <div class="col-md-6 form-group">
                            <label asp-for="@Model.PickupFloor" class=" form-label">Pickup Floor</label>
                            <input asp-for="@Model.PickupFloor" class='form-control' id="pickupFloor" required />
                    </div>
                    <div class="col-md-6 form-group">
                            <label asp-for="@Model.DropoffFloor" class="form-label">Dropoff Floor</label>
                            <input asp-for="@Model.DropoffFloor" class='form-control' id="dropFloor" required />
                    </div>

                    <div class="col-md-6">
                        <a href="/" class="btn bg__primary text__light fw-bold w-100 btn_quote">Get a Quote</a>
                    </div>
                    <div class="col-md-6 form-group">
                        <button class="btn bg__secondary text__light fw-bold w-100 btn_submit" type="submit">Submit Request</button>
                    </div>
                 </div>
            </div>
        </div>
        </div>
</form>

        <div class="details brief">
            <p class="qTitle">Estimated Price</p>
            <p class="quote">₦20000 - ₦40000</p>
            <div class="anime">
                <img src="~/images/truck.gif" alt="truck" />
            </div>
            <div class="flash_wrap">
                <p class="flash_green">
                    <iconify-icon icon="ic:round-phone"></iconify-icon>Reach out to our support for any issues
                </p>
                <p class="flash_coral">
                    <iconify-icon icon="mdi:brightness-percent"></iconify-icon>Reach out to our support for any issues
                </p>
            </div>
        </div>
    </div>

</section>