@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*@inject HttpContextAccessor httpContext*@



@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(Context.User);
    var role = (await UserManager.GetRolesAsync(user)).FirstOrDefault();

    <div class="d-flex gap-3 align-items-center">
        <div class="notif-icon">
            <iconify-icon icon="ph:bell-fill"></iconify-icon>
        </div>

        <div class="btn-group">

            <div class="profile__head dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="photo">
                    <iconify-icon icon="ph:user-duotone"></iconify-icon>
                </div>
                <div class="info">
                    @*<p class="name">@UserManager.GetUserAsync(httpContext.HttpContext.User)</p>*@
                    @if(role == "Owner"){
                        <p class="name">@user.FirstName @user.LastName</p>
                    }else if(role == "Mover"){
                        <p class="name">@user.CompanyName</p>
                    }
                    <p class="role">@User.Identities.SelectMany(i => i.Claims.Where(c => c.Type == i.RoleClaimType).Select(c => c.Value).ToList()).FirstOrDefault()</p>
                </div>
            </div>

            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <iconify-icon icon="ph:user-bold"></iconify-icon>Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <iconify-icon icon="fluent:payment-16-regular"></iconify-icon>Payment
                    </a>
                </li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Logout", new { area = "Identity" })" method="post">
                        <button class="dropdown-item d-flex align-items-center" type="submit">
                            <iconify-icon icon="ph:truck"></iconify-icon>Logout
                        </button>                        
                    </form>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <ul class="navbar-nav d-flex gap-2">
        <li class="nav-item">
                <a class="nav-link btn btn__secondary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
                <a class="nav-link btn btn__primary" asp-area="Identity" asp-page="/Account/Register">Book</a>
        </li>
    </ul>
}
