@page
@using Movars.Core.Models.Enums
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AuthLayout";
}

<div class="register main-wrapper">
	<div class="header">
		<div class="logo">
			<img src="/images/logo_slim_biege_sm.png" alt="" />
		</div>
	</div>
	<div class="form__wrapper">
		<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active switch__btn" id="owner-tab" data-bs-toggle="tab" data-bs-target="#register_owner" type="button" role="tab" aria-controls="owner" aria-selected="true">Owner</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link switch__btn" id="mover-tab" data-bs-toggle="tab" data-bs-target="#register_mover" type="button" role="tab" aria-controls="mover" aria-selected="false">Mover</button>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<form asp-route-returnUrl="@Model.ReturnUrl" method="post" id='register_owner' class="tab-pane fade show active" role="tabpanel" aria-labelledby="owner-tab">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input asp-for="Input.Role" value="@RoleTypes.Owner" aria-required="true" hidden />
				<div class="form-group">
					<input asp-for="Input.FirstName" class='form-control' placeholder="First Name" aria-required="true" />
					<iconify-icon icon="mingcute:user-3-line"></iconify-icon>
					<span asp-validation-for="Input.FirstName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input asp-for="Input.LastName" class='form-control' placeholder="Last Name" aria-required="true" />
					<iconify-icon icon="mingcute:user-3-line"></iconify-icon>
					<span asp-validation-for="Input.LastName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input asp-for="Input.Email" class='form-control' placeholder="Enter email" aria-required="true" />
					<iconify-icon icon="ic:outline-email"></iconify-icon>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input asp-for="Input.Password" class='form-control' placeholder="Password" aria-required="true" />
					<iconify-icon icon="uil:padlock"></iconify-icon>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input asp-for="Input.ConfirmPassword" class='form-control' placeholder="Confirm Password" aria-required="true" />
					<iconify-icon icon="uil:padlock"></iconify-icon>
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				</div>
				<div class="form-group">
					<button class='btn btn__secondary_filled w-100' type="submit">Signup</button>
				</div>
			</form>
			<form asp-route-returnUrl="@Model.ReturnUrl" method="post" id='register_mover' class="tab-pane fade" role="tabpanel" aria-labelledby="mover-tab">
				<input asp-for="Input.Role" value="@RoleTypes.Mover" aria-required="true" hidden />
					<div class="form-group">
					<input asp-for="Input.CompanyName" class='form-control' placeholder="Company Name" aria-required="true" />
						<iconify-icon icon="mingcute:user-3-line"></iconify-icon>
					<span asp-validation-for="Input.CompanyName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="Input.BusinessRegNo" class='form-control'  placeholder="Business Reg. Number" aria-required="true" />
						<iconify-icon icon="mingcute:user-3-line"></iconify-icon>
						<span asp-validation-for="Input.BusinessRegNo" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="Input.Email" class='form-control' placeholder="Enter email" aria-required="true" />
						<iconify-icon icon="ic:outline-email"></iconify-icon>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="form-group">
					<input asp-for="Input.Password" class='form-control' placeholder="Password" aria-required="true" />
						<iconify-icon icon="uil:padlock"></iconify-icon>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="Input.ConfirmPassword" class='form-control' placeholder="Confirm Password" aria-required="true" />
						<iconify-icon icon="uil:padlock"></iconify-icon>
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div>
					<div class="form-group">
						<button class='btn btn__secondary_filled w-100' type="submit">Signup</button>
					</div>
				</form>
					
			<p class="muted-dark">Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a></p>
		</div>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
